
@import "@/assets/styles/background/_gradient.scss";
@mixin flame-backgrad-01($cBack-l,$cBack-d){
    @include  grad-circle-01($cBack-l,$cBack-d,40%,40%)
}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@mixin flame-metal-01($cBack-l,$cBack-d,$cMetal-l,$cMetal-d,$sPoint){
    @include flame-backgrad-01($cBack-l,$cBack-d);
    //position: relative;
    //z-index: 0;
    &::before,
    &::after {
      position: absolute;
      content: "";
    }
    &::before{
        top:   calc(1rem*$sPoint);
        left:  calc(1rem*$sPoint);
        right: calc(1rem*$sPoint);
        bottom:calc(1rem*$sPoint);

        --angle: 45deg;
        background:linear-gradient(
                var(--angle),
                hsl($cBack-d) 20%,
                hsl($cMetal-l) 50%,
                hsl($cBack-d) 80%
            );
    }
    
    &::after{
        top:   calc((1rem*$sPoint) + 0.5rem);
        left:  calc((1rem*$sPoint) + 0.5rem);
        right: calc((1rem*$sPoint) + 0.5rem);
        bottom:calc((1rem*$sPoint) + 0.5rem);
        @include flame-backgrad-01($cBack-l,$cBack-d);
    }
}
@mixin flame-metal-01-anime($cBack-l,$cBack-d,$cMetal-l,$cMetal-d,$time) {
    &::before{
        --angle: 0deg;
        background:linear-gradient(
                var(--angle),
                hsl($cBack-d) 20%,
                hsl($cMetal-l) 50%,
                hsl($cBack-d) 80%
            );

        @keyframes metalgrad {
            to {
                --angle: 360deg;
              }
        }

        animation: metalgrad $time infinite linear;
    }
}