
@mixin texture-check-01($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background:
    radial-gradient(hsl($c3) 3px, transparent 4px),
    radial-gradient(hsl($c3) 3px, transparent 4px),
    linear-gradient(hsl($c1) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, hsl($c2) 75px, hsl($c2) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, hsl($c2) 76px, hsl($c2) 77px, transparent 78px, transparent 109px), hsl($c1);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
@mixin texture-check-02($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background-color:hsl($c1);
  background-image:
    repeating-linear-gradient(transparent, transparent 50px, hsl($c3) 50px, hsl($c3) 53px,
      transparent 53px, transparent 63px, hsl($c3) 63px, hsl($c3) 66px, transparent 66px,
      transparent 116px, hsla($c2,.5) 116px, hsla($c2,.5) 166px, hsla($c2,.2) 166px,
      hsla($c2,.2) 169px, hsla($c2,.5) 169px, hsla($c2,.5) 179px, hsla($c2,.2) 179px,
      hsla($c2,.2) 182px, hsla($c2,.5) 182px, hsla($c2,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent , transparent 50px, hsl($c3) 50px, hsl($c3) 53px,
      transparent 53px, transparent 63px, hsl($c3) 63px, hsl($c3) 66px, transparent 66px, transparent 116px,
      hsla($c2,.5) 116px, hsla($c2,.5) 166px, hsla($c2,.2) 166px, hsla($c2,.2) 169px,
      hsla($c2,.5) 169px, hsla($c2,.5) 179px, hsla($c2,.2) 179px, hsla($c2,.2) 182px,
      hsla($c2,.5) 182px, hsla($c2,.5) 232px, transparent 232px);
}
@mixin texture-check-03($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background:
    linear-gradient(-135deg, hsla($c1,1) 10%, transparent),
    repeating-linear-gradient(45deg, hsla($c2,1) 0%, hsla($c2,.6) 5%, transparent 5%, transparent 10%),
    repeating-linear-gradient(-45deg, hsla($c3,.4) 0%, hsla($c3,.5) 5%, transparent 5%, transparent 10%);
  background-color: hsl($c1);
}

@mixin texture-3dbox-01($c1,$c3,$p) {
  background-repeat: repeat;
  background:
    conic-gradient(
      from 45deg,
      hsla($c3, 1) 0,
      hsla($c3, 1) 90deg,
      hsla($c3, 0.8) 90deg,
      hsla($c3, 0.8) 180deg,
      hsla($c3, 0.6) 180deg,
      hsla($c3, 0.6) 270deg,
      hsla($c3, 0.5) 270deg,
      hsla($c3, 0.5) 360deg),
      hsl($c1);
  background-size: calc($p*1px) calc($p*1px);
}

@mixin texture-3dbox-02($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background:
    linear-gradient(45deg, hsl($c2) 12%, transparent 0, transparent 88%, hsl($c2) 0),
    linear-gradient(135deg, transparent 37%, hsl($c3) 0, hsl($c3) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, hsl($c2) 0, hsl($c2) 63%, transparent 0),
    hsl($c1);
  background-size: 40px 40px;
}
@mixin texture-3dbox-03($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background-color:  hsl($c1);
  opacity: 0.8;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px ,
    hsl($c3), hsl($c3) 50%, hsl($c1) 80%);
  background-size: 10px 10px;
}
@mixin texture-3dbox-04($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background-color: hsl($c1);
  opacity: 0.8;
  background:
    linear-gradient(135deg, hsla($c3, 0.8) 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(225deg, hsla($c3, 0.6) 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, hsla($c3, 0.8) 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, hsla($c3, 0.8) 25%, hsl($c1) 25%) 0px 0/ 20px 20px;
}

@mixin texture-marks-01($c1,$c2,$c3,$p) {
    background-repeat: repeat;
  background-color: hsl($c1);
  background-size: 56px 56px;
  background-image:
    linear-gradient(135deg,transparent 55%,hsl($c1) 55%),
    radial-gradient(transparent 6px,hsl($c3) 6px,hsl($c3) 10px,
      transparent 10px,transparent 15px,hsl($c3) 15px, hsl($c3) 19px,
      transparent 19px,transparent 24px,hsl($c3) 24px,hsl($c3) 28px,
      transparent 28px);
  }
  @mixin texture-marks-02($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background-color: hsl($c1);
    background-size: 53px 53px;
    background-image:
      radial-gradient(transparent 28px,hsl($c3) 28px,hsl($c3) 32px,transparent 32px);
  }
  @mixin texture-marks-03($c1,$c3,$p) {
    background-repeat: repeat;
    background-color: hsl($c1);
    background-size: $p*2px $p*2px;
    background-image:
      radial-gradient(transparent $p*0.9px,hsl($c3) $p*0.9px,hsl($c3) $p*1px,transparent $p*1px),
      radial-gradient(transparent $p*0.9px,hsl($c3) $p*0.9px,hsl($c3) $p*1px,transparent $p*1px);
    background-position: 0 0 , $p*1px $p*1px;
  }
  @mixin texture-marks-04($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      radial-gradient(circle closest-side at 60% 43%, hsl($c1) 26%, hsla(187,0,51,0) 27%),
      radial-gradient(circle closest-side at 40% 43%, hsl($c1) 26%, hsla(187,0,51,0) 27%),
      radial-gradient(circle closest-side at 40% 22%, hsl($c3) 45%, hsla(221,51,85,0) 46%),
      radial-gradient(circle closest-side at 60% 22%, hsl($c3) 45%, hsla(221,51,85,0) 46%),
      radial-gradient(circle closest-side at 50% 35%, hsl($c3) 30%, hsla(221,51,85,0) 31%),

      radial-gradient(circle closest-side at 60% 43%, hsl($c1) 26%, hsla(187,0,51,0) 27%) 50px 50px,
      radial-gradient(circle closest-side at 40% 43%, hsl($c1) 26%, hsla(187,0,51,0) 27%) 50px 50px,
      radial-gradient(circle closest-side at 40% 22%, hsl($c3) 45%, hsla(221,51,85,0) 46%) 50px 50px,
      radial-gradient(circle closest-side at 60% 22%, hsl($c3) 45%, hsla(221,51,85,0) 46%) 50px 50px,
      radial-gradient(circle closest-side at 50% 35%, hsl($c3) 30%, hsla(221,51,85,0) 31%) 50px 50px;
      background-color:hsl($c1);
      background-size:100px 100px;
  }
  @mixin texture-marks-05($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      linear-gradient(324deg, hsl($c1) 4%,   transparent 4%) -70px 43px,
      linear-gradient( 36deg, hsl($c1) 4%,   transparent 4%) 30px 43px,
      linear-gradient( 72deg, hsl($c3) 8.5%, transparent 8.5%) 30px 43px,
      linear-gradient(288deg, hsl($c3) 8.5%, transparent 8.5%) -70px 43px,
      linear-gradient(216deg, hsl($c3) 7.5%, transparent 7.5%) -70px 23px,
      linear-gradient(144deg, hsl($c3) 7.5%, transparent 7.5%) 30px 23px,

      linear-gradient(324deg, hsl($c1) 4%,   transparent 4%) -20px 93px,
      linear-gradient( 36deg, hsl($c1) 4%,   transparent 4%) 80px 93px,
      linear-gradient( 72deg, hsl($c3) 8.5%, transparent 8.5%) 80px 93px,
      linear-gradient(288deg, hsl($c3) 8.5%, transparent 8.5%) -20px 93px,
      linear-gradient(216deg, hsl($c3) 7.5%, transparent 7.5%) -20px 73px,
      linear-gradient(144deg, hsl($c3) 7.5%, transparent 7.5%) 80px 73px;
    background-color: hsl($c1);
    background-size: 100px 100px;
  }
  @mixin texture-marks-06($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background-color: hsl($c1);
    background-image: linear-gradient(335deg, hsla($c3, 0.8) 23px, transparent 23px),
      linear-gradient(155deg, hsla($c3, 0.6) 23px, transparent 23px),
      linear-gradient(335deg, hsla($c3, 0.8) 23px, transparent 23px),
      linear-gradient(155deg, hsla($c3, 0.6) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  }
  @mixin texture-marks-07($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background-color:hsl($c3);
    background-image:
      radial-gradient(circle at 100% 150%, hsl($c3) 24%, hsl($c1) 24%, hsl($c1) 28%, hsl($c3) 28%, hsl($c3) 36%, hsl($c1) 36%, hsl($c1) 40%, transparent 40%, transparent),
      radial-gradient(circle at 0    150%, hsl($c3) 24%, hsl($c1) 24%, hsl($c1) 28%, hsl($c3) 28%, hsl($c3) 36%, hsl($c1) 36%, hsl($c1) 40%, transparent 40%, transparent),
      radial-gradient(circle at 50%  100%, hsl($c1) 10%, hsl($c3) 10%, hsl($c3) 23%, hsl($c1) 23%, hsl($c1) 30%, hsl($c3) 30%, hsl($c3) 43%, hsl($c1) 43%, hsl($c1) 50%, hsl($c3) 50%, hsl($c3) 63%, hsl($c1) 63%, hsl($c1) 71%, transparent 71%, transparent),
      radial-gradient(circle at 100% 50%, hsl($c1) 5%, hsl($c3) 5%, hsl($c3) 15%, hsl($c1) 15%, hsl($c1) 20%, hsl($c3) 20%, hsl($c3) 29%, hsl($c1) 29%, hsl($c1) 34%, hsl($c3) 34%, hsl($c3) 44%, hsl($c1) 44%, hsl($c1) 49%, transparent 49%, transparent),
      radial-gradient(circle at 0    50%, hsl($c1) 5%, hsl($c3) 5%, hsl($c3) 15%, hsl($c1) 15%, hsl($c1) 20%, hsl($c3) 20%, hsl($c3) 29%, hsl($c1) 29%, hsl($c1) 34%, hsl($c3) 34%, hsl($c3) 44%, hsl($c1) 44%, hsl($c1) 49%, transparent 49%, transparent);
    background-size: 100px 50px;
  }
  @mixin texture-marks-08($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      linear-gradient(-45deg, hsl($c1) 25%, transparent 25%, transparent 75%, hsl($c3) 75%, hsl($c3)) 0 0,
      linear-gradient(-45deg, hsl($c3) 25%, transparent 25%, transparent 75%, hsl($c1) 75%, hsl($c1)) 1em 1em,
      linear-gradient(45deg, hsl($c3) 17%, transparent 17%, transparent 25%, hsl($c3) 25%, hsl($c3) 36%,
      transparent 36%, transparent 64%, hsl($c3) 64%, hsl($c3) 75%, transparent 75%, transparent 83%, hsl($c3) 83%) 1em 1em;
    background-color: hsl($c1);
    background-size: 2em 2em;
  }
  @mixin texture-stripe-01($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background-color: hsl($c2);
    background-image:
      repeating-linear-gradient(45deg, transparent, transparent 35px, hsl($c3) 35px, hsl($c3) 70px);
  }
  @mixin texture-stripe-02($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      repeating-linear-gradient(-165deg,hsl($c2),hsl($c2) 0 3px, transparent 0 7px) 0 0/ 100% 50% no-repeat,
      repeating-linear-gradient( 165deg,hsl($c2),hsl($c2) 0 3px, transparent 0 7px) 0 100%/ 100% 50% no-repeat,
      linear-gradient(90deg, hsl($c1), hsl($c3));
  }
  @mixin texture-stripe-03($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      linear-gradient(90deg,hsl($c1) 0.25em, transparent 0),
      linear-gradient(90deg,hsl($c2) 50%, transparent 0),
      linear-gradient(90deg,hsl($c3) 50%, hsl($c3) 0);
    background-size:.25*9em, .5*9em, 9em;
  }
  @mixin texture-dots-01($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    $dot-size: 1px;
    $dot-space: 22px;
    background:
      linear-gradient(90deg, hsla($c1,1) ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient(hsla($c1,1) ($dot-space - $dot-size), transparent 1%) center,
      hsla($c2,1);
    background-size: $dot-space $dot-space;
  }
  @mixin texture-dots-02($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(hsla(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(hsla(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color:hsla($c2,1);
      background-size:16px 16px;
  }
  @mixin texture-dots-03($c1,$c2,$c3,$p) {
    background-repeat: repeat;
    background-color:hsla($c2,1);
    background-image:
      radial-gradient(hsla($c1,1) 15%, transparent 16%),
      radial-gradient(hsla($c1,1) 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }
