
  @mixin typo-retro-01($cDeco:(0,100%,100%), $cText:(0,0%,0%)){
    position: relative;
    z-index: 0;
    color: hsl($cText);
    &::after{
      position: absolute;
      content: attr(data-text);
      color: hsl($cDeco);
      top: 0;
      left: 0;
      right:0;
      bottom:0;
      z-index: -1;
      -webkit-text-stroke: calc(9*0.01em) hsl($cDeco);
    }
  }
  @mixin typo-retro-02($cDeco,$cText,$cSub) {
    @include typo-retro-01($cDeco,$cText);
    //position:static;
    background-repeat: repeat;
    background: 
      linear-gradient(60deg,transparent 35%,hsla($cDeco, 0.8) 49.95%,hsla($cDeco , 0.8) 50.15%,transparent 65%),
      linear-gradient(to right,hsl($cSub),hsl($cText),hsl($cSub));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    //-webkit-text-stroke: 0.01em hsl($cText);
  }

  @mixin typo-neon-01($c1,$c2,$c3) {
    background-repeat: repeat;
    color: hsl($c1);
    animation: neon01 1000s infinite;
  }
  @mixin typo-neon-01-living($c1,$c2,$c3,$t) {
    background-repeat: repeat;
    color: hsl($c1);
    @include typo-neon-01-anime($c1,$c2,$c3,$t,infinite);
  }
  @mixin typo-neon-01-appear($c1,$c2,$c3,$t) {
    background-repeat: repeat;
    color: hsl($c1);
    @include typo-neon-01-anime($c1,$c2,$c3,$t,1)
  }
  @mixin typo-neon-01-anime($c1,$c2,$c3,$sec,$times) {
    animation: neon01 $sec $times;
    @keyframes neon01 {
      0%, 100% {
        text-shadow: -1px -1px 1px hsla($c3,0.8),
          -1px 1px 1px hsla($c3,0.8),
          1px -1px 1px hsla($c3,0.8),
          1px 1px 1px hsla($c3,0.8), 
          0 0 0.01em hsla($c3,0.6),
          0 0 0.02em hsla($c3,0.6),
          0 0 0.03em hsla($c3,0.6),
          0 0 0.04em hsla($c3,0.6),
          0 0 0.05em hsla($c3,0.6),
          0 0 0.1em hsla($c3,0.6),
          0 0 0.2em hsla($c3,0.6),
          0 0 0.3em hsla($c3,0.6),
          0 0 0.4em hsla($c3,0.6);
      }
      50% {
        text-shadow: -1px -1px 1px hsla($c3,1),
          -1px 1px 1px hsla($c3,1),
          1px -1px 1px hsla($c3,1),
          1px 1px 1px hsla($c3,1), 
          0 0 0.02em hsla($c3,1),
          0 0 0.03em hsla($c3,1),
          0 0 0.04em hsla($c3,1),
          0 0 0.05em hsla($c3,1),
          0 0 0.1em hsla($c3,1),
          0 0 0.2em hsla($c3,1),
          0 0 0.3em hsla($c3,1),
          0 0 0.4em hsla($c3,1),
          0 0 0.5em hsla($c3,1);
      }
    }
  }
  @mixin typo-spark-01($cMain,$cSpot) {
    background-repeat: repeat;
    background-image: 
      linear-gradient(to right, hsl($cMain) 40%, hsl($cSpot) 65%, hsl($cMain) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @mixin typo-spark-01-living($cMain,$cSpot,$t) {
    background-size: 500% 100%;
    animation: sparkwaitmove $t ease 0s infinite both normal;
  }
  @mixin typo-spark-01-appear($cMain,$cSpot,$t) {
    background-size: 500% 100%;
    animation: sparkmove $t ease 0s 1 both normal;
  }
  @keyframes sparkmove {
    0%     { background-position: 100%;}
    100%   { background-position:   0%;}
  }
  @keyframes sparkwaitmove {
    0%,75% { background-position: 100%;}
    100%   { background-position:   0%;}
  }

  /******************************************************/
  @mixin typo-retro-03 {
    font-family: var(--font);
    background-repeat: repeat;
    position: relative;
    color: rgb(var(--color2));
    cursor: pointer;
  
    &::before,
    &::after {
      content: attr(data-text);
      position: absolute;
      color: transparent;
      background-clip: text;
      top: 0px;
      left: 0px;
      transition: 1s;
    }
    &::before {
      background-image:
        repeating-linear-gradient(45deg,transparent 0,transparent 0.05em,rgb(var(--color1)) 0.05em,rgb(var(--color1)) 0.1em);
      z-index: -1;
    }
    &::after {
      background-image: 
        repeating-linear-gradient(135deg,transparent 0,transparent 0.05em,rgb(var(--color1)) 0.05em,rgb(var(--color1)) 0.1em);
    }
  
    &:hover {
      &::before {top: 0.1em;left: 0.1em;}
      &::after {top: -0.1em;left: -0.1em;}
    }
  }
  /*
  @mixin typo-gradation-01 {
    font-family: var(--font);
    background-repeat: repeat;
    background-image: 
      linear-gradient(to right,rgb(var(--color2)),rgb(var(--color3)));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: bgmove 2s ease 0s infinite both alternate;
  }
  @keyframes bgmove {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  */
  @mixin typo-pop-01 {
    font-family: var(--font);
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: rgb(var(--color1));
    text-shadow: 0.05em 0.05em rgb(var(--color3)), 0.1em 0.1em rgb(var(--color2));
  }
  
  @mixin typo-monotone-01 {
    font-family: var(--font);
    background-repeat: repeat;
    color: rgb(var(--color2));
    background-color: rgb(var(--color1));
    position: relative;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(var(--color2));
      color: rgb(var(--color1));
      clip-path: inset(-1% -1% 50% -1%);
    }
  }
